.mainWrapper{
  width: 1275px;
  height: 900px;
  position: absolute;
  top: 102px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 103px;
}
.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.2px;
}
.bannerImage{
  width: 888px;
  height: 640px;
  position: absolute;
  top: 28px;
  right: 0px;
} 